

.background{
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100% ; 
  height: 100%;
  top:0;
  left:0;
  z-index: -1;   
}
.-static {
    position:fixed;
}
.-absolute {
  position:absolute;
  display: flex;
  flex-direction: column;
}
.-center{
  display: flex;
  flex-direction: column;
}
.background-access {
  text-align: center;
  background-color: black;
  opacity: 0.9;
  background-image: url("../assets/white-sound.gif");
}
.background-home {
  background-color: #ecdfdf56;
  color: white;
  background-image: url("../assets/white-sound.gif") ;
  background-blend-mode: lighten;
}
.background-store {
  background-color: #ecdfdf56;
  color: white;
  background-blend-mode: lighten;
  background-image: url("../assets/white-sound.gif") ;
}
.background-gallery {
  background-color: #292828ad;
  color: white;
  background-blend-mode: multiply;
  background-size: 40%;
  background-image: url("https://thumbs.gfycat.com/FarflungDefiantGrayling-size_restricted.gif")  ;
}
.background-login {
  background-color: #201f1f;
  text-align: center;
  opacity: 0.9;
  color: rgb(39, 39, 39);
  background-blend-mode: lighten;
  background-image: url("../assets/white-sound.gif") ;
}

