
/* The browser window */
.detail-container{
    border: 3px solid #5e5d5d;
    border-top:none;
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color:rgb(197, 197, 197); 
    color:black;
    font-family: 'Lekton', sans-serif;
    text-align: center;
}
.-static{
    overflow: hidden;

}
.detail-container-bar{
    border: none;
    padding-left: 10px;
    height: 40%;
    font-size: 20px;

}
.detail-container-bar--gallery{
    background: #3fdf00;
    color:rgb(223, 0, 0);
}   
.detail-container-bar--store{
    background-color: rgb(255, 251, 2);
    color:rgb(0, 0, 0);
   
}   
.detail-container-bar-content{
    width: 90%;
    margin: auto;
}
.detail-container-bar-content img{
    width: 60px;
}
.detail-container-bar-content_left{
    float:left;
}
.detail-container-bar-content_center{
    position: relative;
    top:10px;
}
.detail-container-bar-content_right{
    float:right;
}
.detail-container-url{
    background: #cececd;
    border: 1px solid grey;
    height: 40px;
}
.detail-container-url p{
    text-align: left;
    font-size: 12px;
    margin: auto;
    color:black;
}
.detail-container-url_wrap{
    width: 100%;
    border:1.4px solid white;
    display: flex;
}
.detail-container-url_stick{
    border-style: outset;
    width:0.1px; 
    height:100%;
    margin-left:3px ;
}
.detail-container-url_box{
    width: 90%;
    float: right;
    border: 3px inset;
    height: 90%;
    position: relative;
    top:2px;
  

}
.detail-container-bar_exit img{
    width: 30px;
}
.detail-container-content{
    color: white;
    background-color: rgb(26, 25, 25);
    width: 100%;
    /* height: 570px; */
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 4px outset #cececd;

}
.detail-container-content--gallery {
    /* width: 40%; */
    margin: auto;
    /* background-color: #3fdf00; */
}
.detail-container-content--gallery img{
    max-width: 90%;
    max-height:90%;
}
/*change scrollbar*/
 ::-webkit-scrollbar-track {
    background: #3b3b3b; 
}

::-webkit-scrollbar-thumb {
    background: rgb(114, 243, 9); 
}
.detail-container-data{
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}
.detail-container-data-content--left{
    width: 60%;
}
.detail-container-data-content--right{
    width: 40%;
    display: flex;
    justify-content: center;
}
.detail-container-data-content_img{
    min-width: 80%;
}
.detail-data-content-right{
    width: 70%;   
    display:block;
}
input[type=text] {
    width: 100%;
    border: none;
    background-color: white;
    height: 25px;
    color: #666;
    padding: 5px;
    position: relative;
    top:-4px;
}
::-webkit-scrollbar {
    width: 10px;
}
/*Tablets*/
@media only screen and (max-width: 900px) {
        .detail-container-data{
           display: block;
        }
        .detail-container-data-content--left{
            width: 100%;
            margin-bottom: 30px;
        }
        .detail-container-data-content_img{
            min-width: 70%;
        }
        .detail-container-data-content--right{
            width: 100%;
            display: flex;
            justify-content: center;
        }
}
/*mobile*/

@media only screen and (max-width: 700px) {

    .detail-container-bar{
        height: 7vh;
        font-size:80%;
    }   
}





