.list-content {
	width: 100%; 
	margin-top: 30px;
}
.list-content img {
	width: 90%;
	height: 90%;
	margin: auto;
}
.list-content-card img{
	margin:10px auto;
	display:block;	
}
.list-content-product{
	text-align: center;
	 width: 90%;
	 margin: auto;
}
.list-content-product :first-child{
	font-size: 20px;
}
.list-content-product :last-child{
	color:rgb(43, 255, 0);
}
.list-content-detail {
	position: fixed;
	top: 50%;
    left: 50%;
    width: 140vw;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}


.list-content-edit_buttons{
	width: 90%;
	margin: auto;
	font-size: 15px;
}
.list-content-edit_buttons button:first-child{
	color:greenyellow;
	background-color: transparent;
	border-color: greenyellow;
}
.list-content-edit_buttons button:last-child{
	float: right;
	color:red;
	background-color: transparent;
	border-color: red;
}
.list-content_pic{
	background-color: red;
	margin: 10px;
}
@media only screen and (max-width: 800px) {
	.list-content-detail{
		width: 100%;
	}

}
